<div id="<%= dom_id clip %>">
  <p>
    <strong>Title:</strong>
    <%= clip.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= clip.description %>
  </p>

  <p>
    <strong>Créateur :</strong>
    <%= clip.user.username %>
  </p>
</div>
